@model SignUpViewModel  
@{
        Layout = null;
    }


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
   
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
        <link href="~/css/authstyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <title>Register</title>
    </head>
    <body>

    <form class="screen-1" asp-action="Register">
        <div asp-validation-summary="All"></div>
        <a  class=" m-auto btn btn-outline-danger fw-bold" asp-action="Index" asp-controller="Department">الرجوع الي الاقسام</a>
            <img src="~/Images/Design/Qate3.png" class="Qate3Logo m-auto" alt="" />
            <br>
            <div class="email">
                <label asp-for="Email"> Email Address</label>
                <div class="sec-2">
                    <i class="fa-regular fa-envelope"></i>
                <input asp-for="Email" placeholder="Username@gmail.com" />
                </div>
            </div>
            <div class="password">
                <label  asp-for="Password">Password</label>
                <div class="sec-2">
                    <i class="fa-solid fa-lock"></i>
                <input class="pas" asp-for="Password" placeholder="············" />
                </div>
            </div>
        <input type="submit" value="تسجيل"  class="login">
        </form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
    </body>
</html>
