
@model DepartmentViewModel


<div class="col-md-6">
    <label for="Department" class="form-label ms-2">اسم القسم الرئيسي</label>
    <input type="text" class="form-control" placeholder="Department" id="Department" asp-for="Dept_Title">
    @if (ViewBag.error is not null)
    {
        <span asp-validation-for="Dept_Title" class="text-danger">@ViewBag.error</span>
    }
    else
    {
        <span asp-validation-for="Dept_Title" class="text-danger"></span>
    }

</div>
<div class="col-md-6">
    <label asp-for="Image" class="ms-2 form-label">الصوره</label>
    <input class="form-control"  asp-for="Image" >
    <span asp-validation-for="Image" class="text-danger"></span>

</div>
<input type="submit" class="btn btn-primary" value="تاكيد" />
<a asp-controller="Department" asp-action="index" class="btn btn-secondary">رجوع</a>