@model CategoriesViewModel
@{
    ViewData["Title"] = "الحذف";
}

<h1>هل انت متاكد ؟؟</h1>
<p class="text-danger">عند حذف القسم الفرعي سوف تحذف جميع المنتجات بداخله</p>


<div class="container  px-5">
    <form class="row g-3" asp-action="Delete" asp-controller="Category">
        <div asp-validation-summary="All" class="text danger"></div>

       <input asp-for="Cat_ImageName" hidden />

<div class="col-md-6">

            <img src="~/Images/AppImages/Departments/Categories/@Model.Cat_ImageName" />
</div>

<div class="col-md-6">
            <label asp-for="Cat_Title" class="form-label ms-2">اسم الفرع الرئيسي</label>
            <input type="text" class="form-control" placeholder="Category"  asp-for="Cat_Title" readonly>
</div>

    <input type="submit" class="btn btn-danger" value="حذف" />
        <a asp-controller="Category" asp-action="Index" asp-route-DepartmentId="@Model.Dept_Id" class="btn btn-secondary">الرجوع</a>



    </form>
</div>

